@charset "UTF-8";
/*css 初始化 */
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img,input{ margin:0; padding:0; }
fieldset, img,input,button { border:0 none; padding:0;margin:0;outline-style:none; }   /*去掉input等聚焦时的蓝色边框*/
ul, ol { list-style:none; }
/*input { padding-top:0; padding-bottom:0; font-family: "SimSun","宋体";}*/
select, input { vertical-align:middle;}
/*select, input, textarea { font-size:12px; margin:0; }*/
textarea { resize:none; } /*防止拖动*/
img {border:0; vertical-align:middle; }  
/*  去掉图片低测默认的3像素空白缝隙，或者用display：block也可以*/
table { border-collapse:collapse; }


/*添加公共样式*/
/*body {
    font:12px/150% Arial,Verdana,"\5b8b\4f53";
    color:#666;
    background:#fff
}*/
.clearfix:after{
    content:"";
    display:block;
    height:0;
    clear:both;
    overflow:hidden;
    visibility: hidden;
    zoom:1;
}
a {text-decoration:none; }
/*a:hover{color:#C81623;}*/
h1,h2,h3,h4,h5,h6 {text-decoration:none;font-weight:normal;font-size:1em;}  /*设置h标签的大小，设置跟父亲一样大的字体font-size:100%;*/
s,i,em{font-style:normal;text-decoration:none;}


/*公共类*/
.container {  /*版心 提取 */
    width: 1190px;
    margin:0 auto;
}
.fl {
    float:left;
}
.fr {
    float:right;
}
.al {
    text-align:left;
}
.ac {
    text-align:center;
}
.ar {
    text-align:right;
}
.hide {
    display:none;
}
.font12{ font-size: 12px;}
.font14{ font-size: 14px;}
.font16{ font-size: 16px;}

*{box-sizing: border-box;}
/*公共部分*/

//字体大小
$fz:12px;
//图标

#toolbar{
    color:#999;  
    font-size: $fz;
    background:#F2F2F2;
    line-height: 26px;
    border-bottom:1px solid #E5E5E5;
    .container{ 
        .fav{
            width:100px;
            padding-left:22px;
            background:url("img/script.fw.png") no-repeat 0 0;
            background-position:2px 7px;
            a{
                width:78px;
                color:#666;
                &:hover{
                    color:#ff6600;
                }
            }
        }
        
        .sign{
            a{
                color:#666;
                margin-left:5px;
                &:hover{
                    color:#ff6600;
                }
            }
        }

        .memu{
            .toolbar_item{
                width:78px;
                background:#fff;
                border:1px solid #ddd;
                border-top-width:0;
                box-shadow:rgba(204,204,204,0.4) 0 0 8px;
                padding:4px 0 0 10px;
                right:0px;
                position:absolute;
                a:hover{
                    text-decoration:underline;
                }
                display:none;
                z-index:200;
            }
            .spanR{
                width:78px;
                padding-left:10px;
                i{
                    width: 9px;
                    height: 6px;
                    background:url("img/script.fw.png") no-repeat 0 -25px;
                    position:absolute;
                    top:12px;
                    right:5px;
                }
                &:hover{
                    background:#fff;
                    .toolbar_item{
                        display:block;
                    }
                }
            }
            span{
                position:relative;
                display:inline-block;
                padding:0 5px;
                
                &:nth-child(4){
                    padding:0;
                    color:#e5e5e5;
                }
                &:nth-child(5){
                    padding-left:23px;
                    i{
                        width: 20px;
                        height: 18px;
                        background:url("img/script.fw.png") no-repeat 0 -40px;
                        position:absolute;
                        top:4px;
                       left:0px;
                    }
                    a{
                        span{
                            padding:0;
                        }
                    }
                }
                &:nth-child(6){
                    padding-left:20px;
                    i{
                        width: 15px;
                        height: 18px;
                        background:url("img/script.fw.png") no-repeat 0 -62px;
                        position:absolute;
                        top:4px;
                        left:0px;
                    }
                }
                 &:last-child{
                    padding-left:20px;
                    i{
                        width: 20px;
                        height: 18px;
                        background:url("img/script.fw.png") no-repeat 0 -85px;
                        position:absolute;
                        top:4px;
                       left:0px;
                    }
                    a{
                        color:#ff6600;
                    }

                }
                
            }
            a{
                &:hover{
                    color:#ff6600;
                }
                color:#666;
                span{
                    color:#ff6600;
                }

            }
        }

    }
}

#header{
    .hearder_content{
        padding:30px 0 14px 0;
        .tb{
            padding-left:8px;
            width:546px;
        }
        .hearder_logo{
            position:relative;
            width:240px;
            height:56px;
            background:url("img/script.fw.png") no-repeat 0 -104px;
            a{
                width: 60px;
                height: 56px;
                position:absolute;
                left:0;
                top:0;
            }
        }


        .search{
            font-size:$fz;
            width: 330px;
            position:relative;
            .txt{
                display:inline-block;
                width: 250px;
                height:34px;
                color:#a0a0a0;
                border:2px solid #90C221;
                padding-left:33px;
                
            }
            i{
                width: 30px;
                height: 30px;
                background:url("img/script.fw.png") no-repeat -100px 0;
                position:absolute;
                top:2px;
                left:2px;
            }
            .btn{
                display:inline-block;
                width: 78px;
                height:34px;
                border:2px solid #90C221;
                background:#90C221;
                color:#fff;
                font-weight:bold;
            }

            .search_bottom{
                line-height:25px;
                color:#999;
                a{
                    color:#999;
                }
            }
        }
    }
    
}

#nav{
    font-size:14px;
    line-height:35px;
    background:#90c31f;
    .nav_title{
        width: 210px;
        color:#fff;
        padding-left:50px;
        background:#6d9d03;
        position:relative;
        &>i{
            width: 20px;
            height:50px;
            background:url("img/script.fw.png") no-repeat -100px -40px;
            position:absolute;
            right:48px;
            top:10px;
        }
        .category_info{
            position:absolute;
            left:0;
            width: 210px;
            height:320px;
            line-height:45px;
            font-size:12px;
            background:#fff;
            z-index:99;
            .item_list{
                background:#fff;
                h3{
                    width: 105px;
                    
                    .item_name{
                    color:#666;
                    margin-left:5px;
                    }
                }
                
                line-height:45px;
                .item_left{
                    width: 22px;
                    height:22px;
                    background:url("img/script.fw.png") no-repeat -250px 0;
                    margin:12px 5px 0 32px;
                    
                }
                .item_arrows{
                    width: 20px;
                    height: 20px;
                    margin-top:12px;
                    background:url("img/script.fw.png") no-repeat -200px 0;
                    
                }
                .item_list_line{
                    width: 190px;
                    border-bottom:1px dotted #cbcbcb;
                    margin-left:10px;
                }
                &:hover{
                    box-sizing:content-box;
                    width:211px;
                    border:1px solid #94c51b;
                    border-right:1px solid #fff;
                    margin-top:-1px;
                    margin-left:-1px;

                    .child_list{
                        display:block;
                    }
                    .item_list_line{display:none;}
                    .item_arrows{display:none;}

                }
                .child_list{
                    background:#fff;
                    width: 760px;
                    height:321px;
                    position:absolute;
                    left:210px;
                    top:-1px;
                    z-index:-1;     
                    padding:20px 10px 0px 10px;
                    display:none;
                    border:1px solid #94c51b;
                    
                    .child_list_left{
                        width: 505px;
                        color:#666;
                        li{
                            float:left;
                        }
                        .child_list_dt{
                            width: 75px;
                            height:35px;
                            padding:5px;
                            line-height:24px;
                            font-weight:bold;
                            text-align:right;
                        }
                        .child_list_dd{
                            width: 420px;
                            
                            line-height:24px;
                            margin:0 0 10px 10px;
                            padding:5px 0;
                            border-bottom:1px dotted #ccc;
                            a{
                                border-left:1px solid #ccc;
                                padding:0 5px 0 4px;
                                color:#666;
                            }
                            span{
                                a{
                                    color:#f60;
                                }
                            }
                        }
                        
                    }
                    .child_list_right{
                        border-left:1px solid #ccc; 
                        padding-left:14px;
                        a{
                            display:block;
                           
                        }
                        .child_list_imgdown{
                            margin-top:22px;
                        }
                    }
                }
            }

            .item_list:nth-child(2) .item_left{
                background-position:-250px -25px;
            }
            .item_list:nth-child(3) .item_left{
                background-position:-250px -50px;
            }
            .item_list:nth-child(4) .item_left{
                background-position:-250px -75px;
            }
            .item_list:nth-child(5) .item_left{
                background-position:-250px -100px;
            }
            .item_list:nth-child(6) .item_left{
                background-position:-250px -125px;
            }
            .item_list:nth-child(7){
                line-height:43px;
                .item_left{
                background-position:-250px -150px;
                }
            }
             
        }
    }
    .nav_list{
        li{
            line-height:34px;
            float:left;
            padding:0 35px;
            &:hover{
                background:#77b001;
            }
            a{
                font-weight:bold;
                color:#fff;
            }


        }
    }
}
#foot{

    a{
        color:#999;
    }
    a:hover{
        color:#ff6600;
    }
    font-size:12px;
    color:#999;
    margin-top:20px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 6px inset;
    padding-top:10px;
    background:rgb(240,240,240);
    margin:0 auto;
    .FT_A{
        position:relative;
        text-align:center;
        margin-bottom:50px;
    }
    .FTA_02{
        display:inline-block;
        width: 970px;
        padding:20px 0 20px 70px;
        border-top:1px solid #fff;
        border-bottom:1px solid  #e0e0e0;
        ul{
            float:left;
            width: 150px;
            color:#666;
            h4{
                font-size:14px;
                margin-bottom:10px;
                font-weight:bold;
            }
            li{
                line-height:160%;
            }
        }
    }
    .FAT_03{
        border-top:1px solid #fff;
        text-align:center;
        padding:14px 0; 
        p{
            text-align:center;
            padding-top:5px;
        }
        a{
            margin-right:5px;
        }
        img{
            vertical-align:top;
        }
    }
    .FAT_04{
        margin:0 auto;
        width:462px;
        height:40px;
        background:url("img/script.fw.png") no-repeat -320px 0;
        a{
            display:block;
            float:left;
            width: 115px;
            height:40px;
            
        }
    }
}
#pfright{
    z-index: 100;
    position: fixed;
    width: 55px;
    height: 305px;
    bottom: 20px;
    left: 50%;
    margin-left: 600px;
    a{
        width: 55px;
        height: 61px;
        background: url(img/script.fw.png) no-repeat;
        display: block;
        position: relative;
        &:hover{
            background-position:-55px 
        }
    }
    .pfright_4{
        background-position: 0 -583px;
        border-top: 1px solid #e8e8e8;
        .pf_weixin{
            width: 196px;
            height:255px;
            background:url("img/script.fw.png") no-repeat -140px -401px;
            position:absolute;
            top:-170px;
            left:-200px;
            display:none;
            border-left:1px solid #ccc;
        }
        &:hover{
            background-position:-55px -583px;
            .pf_weixin{
                display:block;
            }
        }

    }
    .pfright_2{
        background-position: 0 -461px;
         &:hover{
            background-position:-55px -461px;
        }
    }
    .pfright_3{
        background-position: 0 -522px;
        .pf_yanguang{
            width: 196px;
            height:46px;
            background:url("img/script.fw.png") no-repeat -140px -340px;
            position:absolute;
            top:0px;
            left:-200px;
            padding-right:8px;
            display:none;
            .pf_line{
                margin-top:45px;
                width: 188px;
                height: 1px;
                background:#ccc;
            }
        }
        
         &:hover{
            background-position:-55px -522px;
            .pf_yanguang{
                display:block;
            }
        }
    }
    .pfright_5{
        background-position: 0 -644px;
         &:hover{
            background-position:-55px -644px;
        }
    }
    .pfright_6{
        display:none;
        background-position: 0 -705px;
         &:hover{
            background-position:-55px -705px;
        }
    }
   
}
