#main{
    color:rgb(51,51,51);
    width: 998px;
    margin: 0 auto;
    font-size:12px;
    .car_tit{
        border: 1px solid #ccc;
        background-color: #f9f9f9;
        height: 30px;
        li{
            float:left;
            .carshop{
                width: 420px;
                margin-left: 20px;
            }
            .carluminosity{
                width: 120px;
            }
            .carqty{
                width: 100px;
            }
            .carprice{
                width: 110px;
            }
            .cartotle{
                width: 110px;
            }
            .caroperation{
                width: 88px;
            }
        }

        div{
            height: 30px;
            line-height: 30px;
            text-align: center;
            font-size: 14px;
        }
        
    }
    .content{
        .shopTit{
            font-size: 15px;
            color: rgb(51, 51, 51);
            padding: 30px 0px 12px 18px;
        }
        .cart_produce{
            border: 1px solid #ccc;
            border-top: none;
            .cart_more{
                background-color: #fff6ee;
                border-top: 1px solid #ccc;
                padding: 0 20px 10px 20px;
                margin-top: -1px;
                p{
                    padding: 10px 0 0 0;
                    color: #666;
                    b{
                        padding: 0 5px;
                        color: #fff;
                        background-color: #f60;
                        margin-right: 10px;
                    }
                }
            }
            .buylist{
                li{
                    width: 997px;
                    height: 80px;
                    border-top: 1px solid #ccc;
                    color: #666;
                    overflow:hidden;
                    padding:10px 0;
                    div{
                        float:left;
                        text-align: left;

                    }
                    .xinxi{
                        width: 420px;
                        margin-left: 20px;
                        img{
                            width: 58px;
                            height: 58px;
                            overflow: hidden;
                            border: 1px solid #f5f5f5;
                            float: left;
                        }
                        .shopname{
                            width: 340px;
                            height: 58px;
                            line-height: 58px;
                            margin-left: 10px;
                            overflow: hidden;
                            float: left;
                            .shopcolor{
                                margin-left: 10px;
                                color:#ff6600;
                            }
                        }


                    }
                    .guangdu{
                       width: 100px;
                        height: 38px;
                        line-height: 38px;
                        padding: 1px 10px;
                        cursor: pointer;
                        margin-top: 9px;
                    }
                    .change{
                        margin-left:25px;
                        width: 100px;
                        text-align: center;
                        .addQty,input,.reduceQty{
                            float: left;
                            width: 20px;
                            height: 20px;
                            line-height: 20px;
                            font-size: 16px;
                            text-align: center;
                            border: 1px solid #CCC;
                            cursor: pointer;
                            margin: 19px 0 0 6px;
                            background-color: #EEE;
                        }
                        input{
                            width: 30px;
                            background-color: #FFF;
                            font-size: 12px;
                        }
                        .reduceQty{
                            line-height:0;
                        }

                    }
                    .price{
                        width: 110px;
                        padding-top:20px;
                        text-align: center;
                        .pri{
                            margin-top:20px;
                            width: 80px;
                            height: 20px;
                            border: 1px solid #ffb787;
                            background-color: #fff6ee;
                            color: #f60;
                            position: relative;
                            line-height: 20px;
                            margin: -22px 0 0 14px;
                            cursor: pointer;
                            margin-left:0;
                        }
                    }
                    .totalPrice{
                        width: 110px;
                        line-height: 60px;
                        text-align: center;
                        color: #f60;
                    }
                    .delet{
                        width: 68px;
                        padding: 20px 0 0 20px;
                        cursor: pointer;
                    }

                }
            }
        }
    }
    .car_aggregate{
            width: 990px;
            color: #666;
            margin-top: 40px;
            text-align: right;
            font-size: 14px;
            line-height: 24px;
            .tP{
                width: 120px;
            }
            .hj_name{
                width: 90px;
            }
            .hj_qty{
                span{
                    display:inline-block;
                    color: #f60;
                    font-weight: 100;
                    width: 30px;
                    text-align:center;
                }
            }
        }
        
    .aggregate{
        width: 990px;
        border-top: 1px solid #ccc;
        padding: 15px 0 8px 0;
        margin-top: 15px;
        line-height: 40px;
        .aggregate_btn{
            width: 190px;
            height: 34px;
            line-height: 34px;
            background-color: #f60;
            color: #fff;
            text-align: center;
            font-size: 16px;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
            border-radius: 3px;
            cursor: pointer;
        }
    }
}