.sitemap{
    height: 25px;
    margin: 15px auto;
    i{
        float:left;
        display:inline-block;
        width: 20px;
        height: 16px;
        background: url("img/script.fw.png") no-repeat -150px -40px;
        margin-top: 3px;
    }
    a{
        color:#666;
    }
    span{
        height: 25px;
        line-height: 25px;
        font-size: 12px;
        color: #666;
        float: left;
        padding: 0px 2px 0px 2px;
         &:hover{
            color:#ff6600;
        }
    }
}
#main{
    .container{
        .main_content{
            .shop_left{
                .details_top_img{
                    width: 400px;
                    height: 400px;
                    position: relative;
                    border: 1px solid #ccc;
                    display: table-cell;
                    vertical-align: middle;
                    img{
                        width: 400px;
                        height:400px;
                    }
                }
                .details_top_imgs{
                    width: 400px;
                    height: 70px;
                    margin-top: 20px;   
                    position: relative;
                    .slist {
                        position: absolute;
                        left: 16px;
                        top: 0px;
                        width: 370px;
                        height: 70px;
                        overflow: hidden;
                        ul{
                            width: 380px;
                            li{
                                float: left;
                                width: 66px;
                                height: 66px;
                                padding: 1px;
                                border: 1px solid #dedede;
                                text-align: center;
                                margin: 0 2px;
                                overflow: hidden;
                                cursor: pointer;
                                &:hover{
                                    padding: 0px;
                                    border: 2px solid #93c525;
                                }
                            }
                            #dateimg{
                                width: 60px;
                                height: 60px;
                            }
                        }
                    }
                    
                }
            }
           
            .shop_right{
                margin: -5px 10px 0 45px;
                width: 621px;
                font-size:12px;
                position:relative;
                .weixinsaoma{
                    position:absolute;
                    right:-125px;
                    top:0;
                    p{
                        text-align: center;
                        padding: 10px 0;
                    }
                }
                .details_top_name{
                    border-bottom: 1px dotted #ccc;
                    padding-bottom: 10px;
                    font-size: 16px;
                    line-height: 20px;
                    color: #333333;
                    overflow: hidden;
                    .shop_des{
                        font-size: 14px;
                        line-height: 20px;
                        color: #ff6600;
                    }
                }
                .details_top_msg{
                    padding: 5px 0 10px 0;
                    font-size: 12px;
                    line-height: 24px;
                    position:relative;
                    #price{
                        width:50px;
                        line-height:24px;
                        background:#fff;
                        color: #FF6600;
                        font-size: 20px;
                        position:absolute;
                        left:90px;
                        top:12px;
                    }
                }
                .details_top_select{
                    margin: 5px 0 0 5px;
                    .meg_tit{
                        padding: 0 5px;
                        color: #666666;
                    }
                    span{
                        float: left;
                        max-width: 500px;
                    }
                    .select_color{
                        a{
                            float: left;
                            margin: 0 10px 15px 0;
                            cursor: pointer;
                            width: 70px;
                            height: 70px;
                            border: 1px solid #ccc;
                            position: relative;
                            display: block;
                            img{
                                display:block;
                                position:absolute;
                                left:0;
                                top:0;
                            }
                            &:hover{
                                border-color: #90c31f;
                            }
                        }

                    }
                    #color{
                        width: 50px;
                        height:30px;
                        margin-top:48px;
                        font-size:16px;
                        color:#666;
                    }
                    .dts_msg{
                        height:65px;
                        .meg_tit{
                            float: left;
                            line-height: 30px;
                        }
                        .details_select_luminosity{
                            position: relative;
                            margin-top: 3px;
                            width: 540px;
                            div{
                                float: left;
                                margin-left: 10px;
                                height: 24px;
                                line-height: 24px;
                            }
                            input{
                                margin:0 3px;
                                width: 50px;
                                background-color: #fff;
                                font-size: 12px;
                                height: 22px;
                                line-height: 22px;
                                border: 1px solid #ccc;
                            }
                            #r_qty{
                                width: 50px;
                                background-color: #fff;
                                font-size: 12px;
                            }
                            .r_guangdu,.l_guangdu{
                                float: left;
                                width: 115px;
                                height: 22px;
                                line-height: 22px;
                                background-color: #fff;
                                border: 1px solid #ccc;
                                cursor: pointer;
                            }
                            .jian,.jia,.classify_l_select_input {
                                width: 20px;
                                height: 22px;
                                line-height: 22px;
                                font-size: 16px;
                                text-align: center;
                                background-color: #eeeeee;
                                margin-top: 0px;

                            }
                            .jian,.jia{
                                cursor: pointer;
                            }
                            .jia{
                                margin-left:0;
                            }
                            .dsl{
                                height: 30px;
                                width: 548px;
                                .classify_l_select_label{
                                    width: 55px;
                                    height: 24px;
                                    line-height: 24px;
                                    font-size: 12px;
                                    text-align: center;
                                    background-color: #90c31f;
                                    margin: 0;
                                    color:#fff;
                                    font-weight:bold;
                                }
                            }
                        }
                    }
                    .details_btn{
                        height:50px;
                        #buy{
                            background-color: #f60;
                            margin-left: 70px;
                            color: #fff;
                            border-radius: 3px;
                            font-size: 16px;
                            cursor: pointer;
                            float: left;
                            width: 152px;
                            height: 32px;
                            line-height: 30px;
                            text-align: center;
                            border: 1px solid #ff6600;
                        }
                        #appendCart{
                            color: #ff6600;
                            cursor: pointer;
                            text-indent: 20px;
                            float: left;
                            font-size:16px;
                            width: 150px;
                            height: 34px;
                            line-height: 30px;
                            text-align: center;
                            border: 1px solid #ff6600;
                            margin-left: 10px;
                            border-radius: 3px;
                            position:relative;
                            i{
                                display:block;
                                width: 20px;
                                height: 20px;
                                background: url("img/script.fw.png") no-repeat -800px 0;
                                position:absolute;
                                left:15px;
                                top:6px;
                            }
                        }
                    }
                }
            }
        }
    }
}
#int{
    margin-top:30px;
    .int_l{
        width: 210px;
        width: 208px;
        border: 1px solid #eee;
        border-top: 3px solid #90c31f;
        overflow: hidden;
        .int_tree{
            li{
                padding-left: 25px;
                height: 30px;
                line-height: 30px;
                border-bottom: 1px solid #D9D9D9;
                background-color: #f5f5f5;
                cursor: pointer;
                white-space: nowrap;
                position:relative;
                i{
                    display:block;
                    width: 13px;
                    height: 13px;
                    background:url("img/script.fw.png") no-repeat -120px -190px;
                    position:absolute;
                    left:5px;
                    top:9px;
                }
                a{
                    color: #6d9d03;
                    font-size: 14px;
                }
            }
        }
    }
    .int_r{
        width: 970px;
        .detalis_tab{
            width: 100%;
            height: 35px;
            background:#f7f7ff;
            .active{
                border-top: 2px solid #ff6600;
                color: #ff6600;
                line-height:32px;
                font-weight: bold;
            }
            span{
                background-color: #fff;
                height: 35px;
                font-size: 14px;
                float: left;
                padding: 0 25px 0 25px;
                line-height: 33px;
                border: 1px solid #dddddd;
                margin-right: -1px;
                display: block;
                position: relative;
                cursor: pointer;
            }
        }
        .pcbox{
            margin:10px 0 ;
            border: 1px solid #eeeeee;
            border-top-width: 0px;
            img{
                display:block;
            }
        }
    }
}